sudo: required
language: python
python: 3.5

services:
  - docker

notifications:
  email:
    on_success: never
    on_failure: always
  webhooks:
    urls: https://webhooks.gitter.im/e/627a6148acaaeddc21b9
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coverage
script:
  - "pylint --disable=R,C mathematician"
  - coverage run --source mathematician python -m unittest discover ./tests

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - pip install codeclimate-test-reporter
  - codeclimate-test-reporter --token $CODECLIMATE_REPO_TOKEN
  - mkdir dist
  - cp -r mathematician dist/mathematician
  - cp main.py dist/main.py
  - cp requirements.txt dist/requirements.txt
  - export DOCKER_TAG=$TRAVIS_BRANCH-$TRAVIS_COMMIT
  - docker build -t hkustvislab/vismooc-data-server:$TRAVIS_BRANCH -t hkustvislab/vismooc-data-server:$DOCKER_TAG .
  - docker login -u="$DOCKER_EMAIL" -p="$DOCKER_PASSWORD"
  - docker push hkustvislab/vismooc-data-server:$DOCKER_TAG
