sudo: required
language: python
python: 3.5

services:
  - docker
  - mongodb

notifications:
  email:
    on_success: never
    on_failure: never
  webhooks:
    urls: https://webhooks.gitter.im/e/627a6148acaaeddc21b9
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install "coverage>=4.0,<4.4"
script:
  - coverage run --source mathematician -m unittest discover -s ./test
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - mkdir dist
  - pip install codeclimate-test-reporter
  - codeclimate-test-reporter --token $CODECLIMATE_REPO_TOKEN
  - cp -r mathematician dist/mathematician
  - cp main.py dist/main.py
  - cp requirements.txt dist/requirements.txt
